<body>
    <ng-container *ngIf="chat$ as chat">

        <div class="top">
            <p>
                
            </p>
        </div>
        <div class="chat">
            <div class="msg" *ngFor="let msg of chat.messages;">
            <div class="user">
                <img [src]="msg.user?.photoURL">
                <div><span>{{ msg.user?.displayName }}</span></div>
            </div>
            <p>{{ msg.content }}</p>
            </div>
        </div>
    
        <div class="form">
            <input [(ngModel)]="newMsg">
            <button >Send</button>
        </div>
    
    </ng-container>
</body>
