
<div class="row" id="main">
    <div class="col-3" id="chats-list" >
        <div class="list-group" *ngFor="let item of chats">
            <a (click)="selectChat(item.id)" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <p class="mb-1">{{item.chatName}}</p>
                    <small>{{messages[0].timestamp}}</small>
                </div>
                <p class="mb-1">{{messages[0].message}}</p>
            </a>
        </div>
        
    </div>
    <div class="col-9" id="chat-messages">
        <div class="row-10">
            <nav class="nav">
                <h5>{{selectedContactName}}</h5>
                <div class="btn-group" id="menu-btn">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="false"
                    aria-expanded="false">
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" (click)="deleteChat()">Delete chat</a>
                        <a class="dropdown-item" (click)="deleteMessages()">Delete messages</a>
                    </div>
                </div>
            </nav>
            <div class="container" id="list-messages">
                <ul >
                    <li *ngFor="let item of messages" [ngClass]="{'sent' : item.uid == user , 'replies' : item.uid != user}">
                        <div id="messagebox" >
                            <p>{{item.message}}</p>
                            <p id="date">{{item.timestamp}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row-2" id="formdiv">
            <form class="form-inline">
                <div class="input-group" >
                    <input type="text" class="form-control" placeholder="Type your message here..."  aria-describedby="basic-addon" [(ngModel)]="messageInput" name=messageInput>
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button" (click)="sendMessage()">Send</button>
                    </div>
                  </div>
            </form>
        </div>
    </div>
</div>

