#main {
    height: 60vh;
    padding: 0;
    margin: 0;

    nav {
        background: rgb(223, 221, 221);
        padding: 10px 20px;
        
    }
    
    #chats-list {
        padding: 0;
    }

    #chat-messages {
        padding: 0;

        #messagebox {
            min-width: 100px;
            max-width: 300px;
            min-height: 50px;
            background-color: #eee;
            padding: 10px;

            #date {
                font-size: 10px;
                color: #aaa;
            }
        }

        #formdiv {
            padding: 10px;
            background-color: #eee;
        }
        input {
            width: 65vh;
        }
    }
}