<body>
	<div class="container" id="box" *ngIf="authService.userData as user">
		<nav class="navbar navbar-expand-lg">
			<div>
				<p>{{user.email}}</p>
			</div>
			<button type="button" class="btn" routerLink="/contacts"><img src="../../../assets/user.svg" style="width: 20px;" alt=""></button>
			<div class="btn-group">
				<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="false"
				aria-expanded="false">
				</button>
				<div class="dropdown-menu">
					<a class="dropdown-item" routerLink="/account">Account</a>
					<a class="dropdown-item" (click)="signOut()">Sign Out</a>
				</div>
			</div>
		</nav>
		<div id="content">
			<app-chat></app-chat>
		</div>
	</div> 
</body>
