
<body>
	<div class="container" id="box">
		<nav class="navbar navbar-expand-lg">
			<button routerLink="/home" class="btn"><img src="../../../assets/back.svg" alt="back"></button>
			<button routerLink="/new-contact" class="btn btn-warning">Add Contact</button>
			<button routerLink="/chat-group" class="btn btn-primary">New group chat</button>
		</nav>
		<div class="container" id="content">
			<div >
				<table class="table table-borderless">
					<thead>
					  <tr>
						<th scope="col"></th>
						<th scope="col"></th>
						<th scope="col"></th>
						<th scope="col"></th>
						<th scope="col"></th>
						<th scope="col"></th>
					  </tr>
					</thead>
					<tbody *ngFor="let item of contacts" id="accordion">
					  <tr>
						  <td><img src="../../../assets/user.svg"></td>
						<td>
							<h4>{{item.name}} {{item.surname}}</h4>
							<p>{{item.email}}</p>
							<p>{{item.number}}</p>
						</td>
						<td><button class="btn" (click)="newChat(item.id)" routerLink="/home"><img src="../../../assets/chat.svg" alt="chat"></button></td>
						<td><button class="btn"><img src="../../../assets/email.svg" alt="email"></button></td>
						<td><button class="btn" (click)="selectItem(item.id)" routerLink="/edit-contact"><img src="../../../assets/edit.svg" alt="edit"></button></td>
						<td><button class="btn" (click)="delete(item.id)"><img src="../../../assets/delete.svg" alt="delete"></button></td>
					  </tr>
					</tbody>
				  </table>
			</div>
		</div>
	</div>
</body>


